@import 'functions';

$primary: #116acc;
$primary-translucent: translucify(lighten($primary, 35%), 0.9);
$primary-translucent-more: translucify(lighten($primary, 35%), 0.95);
$primary-light: whiten($primary, 30%);
$primary-lighter: whiten($primary, 60%);
$primary-lightest: whiten($primary, 80%);
$primary-dark: blacken($primary, 30%);
$secondary-1: #182233;
$secondary-2: #b3cee2;
$secondary-3: #d9dde7;
$secondary-4: #fd4e5d;

$black: #000;
$gray-1: #1f2937;
$gray-2: #374151;
$gray-3: #4b5563;
$gray-4: #6b7280;
$gray-5: #9ca3af;
$gray-6: #d1d5db;
$gray-7: #f3f4f6;
$white: #fff;

$info: #2f80ed;
$success: #76CA66;
$warning: #e2b93b;
$error: #ba0000;

$border-color: $gray-5;
