.accounts {
  &__subheader {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__choices {
    flex-basis: 300px;
  }

  &__create-btn {
    margin-left: auto;
  }

  &__list {
    width: 100%;
    padding: 50px 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 50px;
  }
}
