@import 'variables';

.balance-chart {
  flex-basis: 600px;
  padding: 25px 50px;
  transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
  border-radius: 50px;

  &:focus {
    border-color: $primary;
  }

  &:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
}
