.currencies {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  &__title {
    margin-bottom: 0;
    width: 100%;
  }

  &__currency-feed {
    flex-grow: 1;
    height: 100%;
  }

  &__wrapper {
    flex-grow: 1;
    .my-currencies {
      margin-bottom: 50px;
    }
  }
}

