@import 'variables';

.header {
  padding: 25px 0;
  background-color: $primary;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    gap: 25px;
  }
}
