@import 'variables';

.transactions {
  min-width: fit-content;
  border-radius: 56px;

  &__caption {
    margin-bottom: 25px;

    text-align: start;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  &__table {
    width: 100%;
    border-spacing: 0;
  }

  &__thead-row {
    margin: 0 20px;
  }

  &__thead-cell {
    padding: 20px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $white;

    background-color: $primary;

    &:first-child {
      border-radius: 15px 0 0 15px;
    }

    &:nth-last-child(2) {
      width: 20%;
    }

    &:last-child {
      width: 100%;
      text-align: start;
      border-radius: 0 15px 15px 0;
    }
  }

  &__cell {
    border-bottom: 2px solid $primary-translucent;
    padding: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray-2;

    &:not(:last-child) {
      text-align: center;
    }
  }
}
